.DS_Store
Data/995,000_rows.csv
Data/processed_995,000_rows.csv
Data/processed_news_sample.csv
Data/splits/train.csv
Data/splits/val.csv
Data/splits/test.csv
Data_Opgave_3/995,000_rows.csv
Data_Opgave_3/processed_995,000_rows.csv
Data_Opgave_3/news_sample.csv
Data_Opgave_3/processed_news_sample.csv
Data_Opgave_3/splits/train.csv
Data_Opgave_3/splits/val.csv
Data_Opgave_3/splits/test.csv